.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
}

.titleWeather {
  margin: 0;
  color: #f15b05;
}

.image {
  width: 5rem;
  background-color: #addcfe;
  border-radius: 0.5rem;
}

p {
  margin: 0;
}

.message {
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
