.locationList {
  display: grid;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #f9f5e1;
  grid-template-columns: repeat(1, 1fr);
  padding: 1.5rem;
}

.messageLocation {
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #f9f5e1;
}

@media only screen and (min-width: 25em) {
  .locationList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 35em) {
  .locationList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 50em) {
  .locationList {
    grid-template-columns: repeat(5, 1fr);
  }
}
